//! **************************************************************************
// Written by: Map P.20131013 on Wed May 24 23:42:28 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rrst" LOCATE = SITE "D9" LEVEL 1;
COMP "data<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "data<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "data<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "data<3>" LOCATE = SITE "M14" LEVEL 1;
COMP "data<4>" LOCATE = SITE "U18" LEVEL 1;
COMP "data<5>" LOCATE = SITE "U17" LEVEL 1;
COMP "data<6>" LOCATE = SITE "T18" LEVEL 1;
COMP "data<7>" LOCATE = SITE "T17" LEVEL 1;
COMP "sel<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "sel<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "sel<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "sel<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "swi<0>" LOCATE = SITE "T5" LEVEL 1;
COMP "swi<1>" LOCATE = SITE "V8" LEVEL 1;
COMP "swi<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "swi<3>" LOCATE = SITE "N8" LEVEL 1;
COMP "swi<4>" LOCATE = SITE "M8" LEVEL 1;
COMP "swi<5>" LOCATE = SITE "V9" LEVEL 1;
COMP "swi<6>" LOCATE = SITE "T9" LEVEL 1;
COMP "swi<7>" LOCATE = SITE "T10" LEVEL 1;
SCHEMATIC END;

